version: 2.1
orbs:
  codecov: codecov/codecov@5.2.1

jobs:
  run_pytests:
    parameters:
      python_version:
        type: string
        default: "3.12"
    machine:
      image: ubuntu-2404:2024.08.1
    working_directory: /home/circleci/src/CuBIDS
    steps:
      - checkout:
          path: /home/circleci/src/CuBIDS

      - run:
          name: Test CuBIDS
          command: |
            export MINIFORGE=/tmp/miniforge
            export PATH="$MINIFORGE/bin:$PATH"
            wget https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Linux-x86_64.sh -O /tmp/miniforge.sh
            bash /tmp/miniforge.sh -b -f -p $MINIFORGE
            mamba update mamba

            export PATH=/tmp/miniforge/bin:$PATH
            mamba create -n cubids python=<< parameters.python_version >> pip
            source activate cubids
            mamba install -c conda-forge -y datalad

            # Add deno to run the schema validator
            mamba install -y deno

            # Install CuBIDS
            pip install -e .[tests]

            # Run tests
            pytest -rP -o log_cli=true \
              --cov-append \
              --cov-branch \
              --cov-report term-missing \
              --cov=cubids \
              cubids
            mkdir /home/circleci/src/coverage
            mv /home/circleci/src/CuBIDS/.coverage /home/circleci/src/coverage/.coverage.<< parameters.python_version >>
      - persist_to_workspace:
          root: /home/circleci/src/coverage
          paths:
              - .coverage.<< parameters.python_version >>

  merge_coverage:
    docker:
        - image: continuumio/miniconda3
    steps:
      - checkout:
          path: /home/circleci/src/CuBIDS
      - attach_workspace:
          at: /home/circleci/src/coverage
      - run:
          name: Merge coverage files
          command: |
            conda create -n cov python=3.12 pip coverage
            source activate cov

            # We need curl for the codecov upload
            apt-get update
            apt-get install -y -qq curl
            apt-get install -y gnupg

            # Generate XML from the checked-out repository path so Codecov can
            # resolve file paths against the commit contents.
            cp /home/circleci/src/coverage/.coverage.* /home/circleci/src/CuBIDS/
            cd /home/circleci/src/CuBIDS
            coverage combine .coverage.*
            coverage xml -o coverage.xml
      - store_artifacts:
          path: /home/circleci/src/CuBIDS/coverage.xml
      - codecov/upload:
          files: /home/circleci/src/CuBIDS/coverage.xml

  deployable:
    docker:
      - image: busybox:latest
    steps:
      - run: echo Deploying!

  deploy_pypi:
    machine:
      image: ubuntu-2404:2024.08.1
    working_directory: /home/circleci/src/CuBIDS
    steps:
      - checkout:
          path: /home/circleci/src/CuBIDS
      - run:
          name: Update build tools
          command: pip install --upgrade build twine
      - run:
          name: Build CuBIDS
          command: python -m build
      - run:
          name: Upload package to PyPI
          command: python -m twine upload -u __token__ -p ${PYPI_TOKEN} dist/cubids*

workflows:
  build_test_deploy:
    jobs:
      - run_pytests:
          # Define the matrix for Python versions
          matrix:
            parameters:
              python_version:
                - "3.9"
                - "3.10"
                - "3.11"
                - "3.12"
                - "3.13"
          filters:
            tags:
              only: /.*/

      - merge_coverage:
          requires:
            - run_pytests
          filters:
            tags:
              ignore: /.*/

      - deployable:
          requires:
            - run_pytests
          filters:
            branches:
              only: main
            tags:
              only: /.*/

      - deploy_pypi:
          requires:
            - deployable
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
