version: 2.1
orbs:
  codecov: codecov/codecov@1.0.5

jobs:
  run_pytests:
    parameters:
      python_version:
        type: string
        default: "3.8"
    machine:
      image: ubuntu-2004:202201-02
    working_directory: /home/circleci/src/CuBIDS
    steps:
      - checkout:
          path: /home/circleci/src/CuBIDS

      - run:
          name: Test CuBIDS
          command: |
            export MINICONDA=/tmp/miniconda
            export PATH="$MINICONDA/bin:$PATH"
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O /tmp/miniconda.sh
            bash /tmp/miniconda.sh -b -f -p $MINICONDA
            conda config --set always_yes yes
            conda update conda
            conda info -a

            export PATH=/tmp/miniconda/bin:$PATH
            conda create -n cubids python=<< parameters.python_version >> pip
            source activate cubids
            conda install -c conda-forge -y datalad

            # Add nodejs and the validator
            conda install nodejs
            npm install -g yarn && \
            npm install -g bids-validator

            # Install CuBIDS
            pip install -e .[tests]

            # Run tests
            pytest cubids
            pytest --cov-append --cov-report term-missing --cov=cubids cubids
            mkdir /home/circleci/src/coverage
            mv /home/circleci/src/CuBIDS/.coverage /home/circleci/src/coverage/.coverage.<< parameters.python_version >>
      - persist_to_workspace:
          root: /home/circleci/src/coverage
          paths:
              - .coverage.<< parameters.python_version >>

  merge_coverage:
    docker:
        - image: continuumio/miniconda3
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/src/coverage
      - run:
          name: Merge coverage files
          command: |
            conda create -n cubids python=3.9 pip
            source activate cubids

            # Install CuBIDS
            pip install -e .[tests]

            cd /home/circleci/src/coverage/
            coverage combine --data-file=/home/circleci/src/coverage/.coverage
            coverage xml --data-file /home/circleci/src/coverage/.coverage -o /home/circleci/src/coverage/coverage.xml
      - codecov/upload:
          file: /home/circleci/src/coverage/coverage.xml

  deployable:
    docker:
      - image: busybox:latest
    steps:
      - run: echo Deploying!

  deploy_pypi:
    machine:
      image: ubuntu-2004:202201-02
    working_directory: /home/circleci/src/CuBIDS
    steps:
      - checkout:
          path: /home/circleci/src/CuBIDS
      - run:
          name: Update build tools
          command: pip install --upgrade build twine
      - run:
          name: Build CuBIDS
          command: python -m build
      - run:
          name: Upload package to PyPI
          command: python -m twine upload -u __token__ -p ${PYPI_TOKEN} dist/cubids*

workflows:
  build_test_deploy:
    jobs:
      - run_pytests:
          # Define the matrix for Python versions
          matrix:
            parameters:
              python_version:
                - "3.8"
                - "3.9"
                - "3.10"
                - "3.11"
          filters:
            tags:
              only: /.*/

      - merge_coverage:
          requires:
            - run_pytests
          filters:
            tags:
              ignore: /.*/

      - deployable:
          requires:
            - run_pytests
          filters:
            branches:
              only: main
            tags:
              only: /.*/

      - deploy_pypi:
          requires:
            - deployable
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
